/** { outline: 2px dotted red; }*/
/** * { outline: 2px dotted green; }*/
/** * * { outline: 2px dotted orange; }*/
/** * * * { outline: 2px dotted blue; }*/
/** * * * * { outline: 1px solid red; }*/
/** * * * * * { outline: 1px solid green; }*/
/** * * * * * * { outline: 1px solid orange; }*/
/** * * * * * * * { outline: 1px solid blue; }*/

body {
      /* use the full height of the browser window,
      it allows to center the child element vertically on the window */
      height: 100vh;
  }

/* HOME --------------- HOME ---------------- HOME ---------------- HOME ---------------- HOME ---------------- HOME  */

.home-wrapper {
    width: 90vw; /* wrappers have 90% of window width */
    margin-right: auto; /* center wrapper horizontally */
    margin-left: auto;
    position: absolute; /* use absolute position ... */
    top: 50%; /* ... and move wrapper so that the left upper corner fits the centre of the window */
    left: 50%;
    transform: translate(-50%, -50%); /* move wrapper back so that the center of the wrapper fits the center of the window */
    text-align: center;
}
.home-poster {
    padding-left: 1px; /* reset some Bootstrap CSS used for the poster */
    padding-right: 1px;
    padding-top: 2px;
    float: none;
}

/* HOME DESKTOP -------------------- HOME DESKTOP -------------------- HOME DESKTOP -------------------- HOME DESKTOP */

@media (max-width: 991.5px) and (pointer: fine) and (hover: hover){
    .home-wrapper {
        height: 100vh;
    }
}

/* HOME MOBILE --------------------- HOME MOBILE ---------------------- HOME MOBILE --------------------- HOME MOBILE */

@media (min-device-width: 0px) and (max-device-width: 414px) and (orientation: portrait) and (hover: none) {
    .home-wrapper {
        height: 100vh;
    }
    .home-poster {
        width: 50%;
    }
}

@media (min-device-width: 415px) and (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {
    .home-wrapper {
        height: 100vh;
    }
    .home-poster {
        width: auto;
        height: 24.5vh;
    }
}

@media (min-device-width: 0px) and (max-device-width: 568px) and (orientation: landscape) and (hover: none) {
    .home-wrapper {
        height: 100vh !important;
    }
    .home-poster {
        width: auto;
        height: 48vh;
    }
}

@media (min-device-width: 569px) and (max-device-width: 823px) and (orientation: landscape) and (hover: none) {
    .home-wrapper {
        height: auto !important;
    }
    .home-poster {
        width: 16.66%;
        height: auto;
    }
}

/* INFO --------------- INFO ---------------- INFO ---------------- INFO ---------------- INFO ---------------- INFO  */

.list-group {
    margin-bottom: 0;
}

.info-title {
    font-size: 1.5em;
}

.info-overview {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: justify;                /* stretch the overview text  */
    text-justify: inter-word;
}

li {
    padding: 5px 0 5px 0 !important;        /* reassign Bootstrap CSS */
}

.info-left-col {
    display: none;
}

/* INFO DESKTOP -------------------- INFO DESKTOP -------------------- INFO DESKTOP -------------------- INFO DESKTOP */

@media (pointer: fine) and (hover: hover) {
    .info-wrapper {
        position: absolute;                                         /* use absolute position ... */
        top: 50%;                                                   /* ... and move wrapper so that the left upper corner fits the centre of the window */
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
    .info-content {
        width: 450px;
        text-align: center;                                         /* center images and text horizontally */
    }
}

@media (min-width: 0px) and (max-width: 620px) and (pointer: fine) and (hover: hover){
    .info-wrapper {
        width: 100vw;
    }
    .info-content {
        width: 77%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 0px) and (max-width: 280px) and (pointer: fine) and (hover: hover) {
    .info-poster {
        width: 90%;
    }
}

/* INFO MOBILE --------------------- INFO MOBILE ---------------------- INFO MOBILE --------------------- INFO MOBILE */

@media (orientation: portrait) and (pointer: coarse) and (hover: none) {
    .info-wrapper {
        width: 100vw;
        /*position: fixed;*/
    }
    .info-content {
        width: 100%;
        text-align: center;                 /* center images and text horizontally */
        /*overflow: auto;*/
    }
}

/*@media (min-device-width: 0px) and (max-device-width: 812px) and (orientation: landscape) and (pointer: coarse) and (hover: none) {*/
    /*.info-wrapper {*/
        /*height: 100vh;*/
    /*}*/
    /*.info-content {*/
        /*display:table;*/
        /*height: 100%;*/
        /*width: 100%;*/
    /*}*/
    /*.info-left-col {*/
        /*display: table-cell;*/
        /*vertical-align: middle;*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        /*overflow: auto;*/
    /*}*/
    /*img {*/

        /*height: 100vh;*/
    /*}*/
    /*.info-right-col {*/
        /*display: table-cell;*/
        /*!*vertical-align: middle;*!*/
        /*width: auto;*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        /*padding-left: 10px;*/
        /*!*float:left;*!*/
    /*}*/
    /*.info-list {*/
        /*height:90vh;*/
    /*}*/
    /*.info-title {*/
        /*font-size: 2em;*/
    /*}*/
    /*.poster {*/
        /*display: none;*/
    /*}*/
    /*li {*/
        /*padding: 2px 0 2px 0 !important;*/
    /*}*/
    /*.panel-body {*/
        /*padding: 0;*/
        /*!*padding-top: 0;*!*/
        /*!*padding-left: 10px;*!*/
        /*!*padding-right: 10px;*!*/
    /*}*/
/*}*/


/*@media (min-device-width: 812px) and (orientation: landscape) {*/
    /*.info-content {*/
        /*width: 100%;*/
        /*float:left;*/
    /*}*/
    /*.info-right-col {*/
        /*width: 70%;*/
        /*float: right;*/
        /*overflow: auto;*/
    /*}*/
    /*.info-title {*/
        /*font-size: 2em;*/
    /*}*/
    /*.poster {*/
        /*display: none;*/
    /*}*/
    /*.info-left-col {*/
        /*width: 25%;*/
        /*float: left;*/
        /*padding: 10px;*/
        /*display: block;*/
    /*}*/
    /*ul {*/
        /*float: left;*/
    /*}*/
    /*li {*/
        /*padding: 2px 0 2px 0 !important;*/
    /*}*/
/*}*/