/** { outline: 2px dotted red; }*/
/** * { outline: 2px dotted green; }*/
/** * * { outline: 2px dotted orange; }*/
/** * * * { outline: 2px dotted blue; }*/
/** * * * * { outline: 1px solid red; }*/
/** * * * * * { outline: 1px solid green; }*/
/** * * * * * * { outline: 1px solid orange; }*/
/** * * * * * * * { outline: 1px solid blue; }*/

body {
    /* use the full height of the browser window,
    it allows to center the child element vertically on the window */
    height: 100vh;
}

.home-wrapper, .info-wrapper {
    width: 90vw;                        /* wrappers have 90% of window width */
    margin-right: auto;                 /* center wrapper horizontally */
    margin-left: auto;
    position: absolute;                 /* use absolute position ... */
    top: 50%;                           /* ... and move wrapper so that the left upper corner fits the centre of the window */
    left: 50%;
    transform: translate(-50%, -50%);   /* move wrapper back so that the center of the wrapper fits the center of the window */
    text-align: center;
}

.home-poster {
    padding-left: 1px;      /* reset some Bootstrap CSS used for the poster */
    padding-right: 1px;
    padding-top: 2px;
    float: none;
}

.info-content {
    width: 450px;
    height: auto;
    /* center the text and image horizontally within the 'info-wrapper' */
    text-align: center;             /* center images and text horizontally */
    /* center the 'info-wrapper' horizontally within the 'root' */
    margin-right: auto;
    margin-left: auto;
}

.info-left-col {
    display:none;
}

ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

li {
    /* reassign Bootstrap CSS */
    padding: 5px 0 5px 0 !important;
}

.info-title {
    font-size: 4vh;
}

.info-overview {
    padding-left: 10px !important;
    padding-right: 10px !important;
    /* stretch the overview text  */
    text-align: justify;
    text-justify: inter-word;
}


/* ------------------------------------------------------------------------*/

@media (max-width: 991.5px) {
    .home-wrapper {
        height: 100vh;
    }
}

@media (min-width: 0px) and (max-width: 480px){
    .info-content {
        width: 90vw;
    }
}

@media (min-width: 0px) and (max-width: 380px) {
    .info-poster {
        width: 80%;
    }
}

/* ------------------------------------------------------------------------*/

@media (min-device-width: 0px) and (max-device-width: 414px) and (orientation: portrait) {
    .home-wrapper {
        height: 100vh;
    }
    .home-poster {
        width: 50%;
    }
}

@media (min-device-width: 0px) and (max-device-width: 480px) and (orientation: portrait) and (pointer:coarse) {
    .info-content {
        width: 90%;
    }
    .info-poster {
        width: 50%;
    }
    .info-title {
        font-size: 1.5em;
    }
    li {
        padding: 2px 0 2px 0 !important;
    }
}


/*@media (orientation: landscape) and (pointer:coarse) {*/
    /*.info-content {*/
        /*height: 100%;*/
        /*width: 100%;*/
    /*}*/
    /*.info-list {*/
        /*width: 60%;*/
        /*float:right;*/
        /*overflow: auto;*/
    /*}*/
    /*.info-title {*/
        /*font-size: 2em;*/
    /*}*/
    /*.central_poster {*/
        /*display: none;*/
    /*}*/
    /*.side_poster {*/
        /*height: 100%;*/
        /*width: 39%;*/
        /*float:left;*/
        /*display: block;*/
    /*}*/
    /*ul {*/
        /*float: left;*/
    /*}*/
    /*li {*/
        /*padding: 2px 0 2px 0 !important;*/
    /*}*/
/*}*/


@media (min-device-width: 415px) and (max-device-width: 1024px) and (orientation: portrait) {
    .home-wrapper {
        height: 100vh;
    }
    .home-poster {
        width: auto;
        height: 24.5vh;
    }
}

@media (min-device-width: 0px) and (max-device-width: 568px) and (orientation: landscape) {
    .home-wrapper {
        height: 100vh !important;
    }
    .home-poster {
        width: auto;
        height: 48vh;
    }
}

@media (min-device-width: 569px) and (max-device-width: 823px) and (orientation: landscape) {
    .home-wrapper {
        height: auto !important;
    }
    .home-poster {
        width: 16.66%;
        height: auto;
    }
}